[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = A lightweight client for appium-uiaotomator2-server
[access "refs/*"]
	owner = group user/xsoloking
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/xsoloking
	label-Verified = -1..+1 group user/xsoloking
	push = group user/xsoloking
	read = group user/xsoloking
	rebase = group user/xsoloking
	removeReviewer = group user/xsoloking
	submit = group user/xsoloking
[access "refs/heads/*"]
	create = group user/xsoloking
	push = +force group user/xsoloking
	pushMerge = group user/xsoloking
	read = group user/xsoloking
[access "refs/tags/*"]
	push = group user/xsoloking
	push = +force group user/xsoloking
